@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --site-primary-color: #49378C;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 25px;
}

main .book-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .book-list-header h3 {
    color: var(--site-primary-color);
}