form .input-field {
    width: 100%;
    margin: 10px 0;
}

form .input-field label {
    font-size: 0.9rem;
    display: block;
}

form .input-field input, textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
    border-radius: 2px;
    font-size: 0.8rem;
    font-family: unset;
}

form .input-field input:focus, textarea:focus {
    border-bottom: 1px solid var(--site-primary-color);
}

form .input-field select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
}

form .input-container {
    display: flex;
}

form .input-container .input-field:first-child {
    margin-right: 15px;
}

form .submit-field {
    float: right;
    margin: 20px 0;
}

form .submit-field .cancel-book-btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px;
}