.edit-book-btn {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0 15px;
    color: var(--site-primary-color);
    font-weight: bold;
    cursor: pointer;
}